@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 61%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*:after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--Moderate-blue);
}
a:hover {
  color: var(--Light-grayish-blue);
  cursor: pointer;
}

p {
  color: var(--Grayish-Blue);
  width: 100%;
}

span {
  width: 100%;
}

body {
  background: var(--Light-gray);
  font-size: 16px;
}

.br-1 {
  border-radius: 0.5rem;
}

.br-2 {
  border-radius: 0.9rem;
}

.red {
  color: var(--Soft-Red);
}
.red:hover {
  color: var(--Pale-red);
}

.btn {
  padding: 0.6rem 1rem;
  background: var(--Moderate-blue);
  color: var(--White);
  border: none;
  border-radius: 0.4rem;
  font-size: small;
}
.btn:hover {
  background-color: var(--Light-grayish-blue);
  cursor: pointer;
}

.you {
  font-size: 12px;
  color: var(--White);
  background: var(--Moderate-blue);
  padding: 0.3em;
  border-radius: 3px;
}

.modal {
  display: flex;
  display: none;
  place-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal__content {
  max-width: 18rem;
  background: var(--White);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}
.modal .modal__content p {
  font-size: 12px;
}
.modal .modal__content .modal__content-buttons {
  display: flex;
  gap: 0.5rem;
}
.modal .modal__content .modal__content-buttons button {
  width: 100%;
  padding: 0, 1rem;
  height: 2rem;
  border: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  color: var(--White);
}
.modal .modal__content .modal__content-buttons .modal__content-buttons_delete {
  background: var(--Soft-Red);
}
.modal .modal__content .modal__content-buttons .modal__content-buttons_delete:hover {
  background: var(--Pale-red);
}
.modal .modal__content .modal__content-buttons .modal__content-buttons_cancel {
  background: var(--Dark-blue);
}
.modal .modal__content .modal__content-buttons .modal__content-buttons_cancel:hover {
  background: var(--Grayish-Blue);
}

.container {
  max-width: 760px;
  margin: 4rem auto 0;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .container__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  padding: 1.7rem;
  background: var(--White);
}
.container .container__content .container__content-left {
  background: var(--Very-light-gray);
  padding: 0.6rem 0.7rem;
  color: var(--Dark-blue);
}
.container .container__content .container__content-left .container__content-left_plus,
.container .container__content .container__content-left .container__content-left_minus {
  padding: 7px 0;
  display: flex;
  place-content: center;
}
.container .container__content .container__content-left .container__content-left_plus:hover,
.container .container__content .container__content-left .container__content-left_minus:hover {
  cursor: pointer;
}
.container .container__content .container__content-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100px;
  overflow: hidden;
}
.container .container__content .container__content-right .container__content-right_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile {
  display: flex;
  place-items: center;
  gap: 0.9rem;
}
.container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile .container__content-right_top-profile_img {
  display: flex;
  place-items: center;
  width: 2.3rem;
}
.container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile .container__content-right_top-profile_img img {
  width: 100%;
  height: 100%;
}
.container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile .container__content-right_top-profile_username {
  font-weight: bold;
}
.container .container__content .container__content-right .container__content-right_bottom {
  display: flex;
}
.container .container__content .container__content-right .container__content-right_bottom p {
  flex: 10;
}
.container .comment {
  margin-left: 2.5rem;
  padding-left: 2.9rem;
  border-left: 1px solid var(--Light-grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.7rem;
  background: var(--White);
}
.container__form .container__form-img {
  display: flex;
  place-items: center;
  width: 2.6rem;
  height: 2.6rem;
}
.container__form .container__form-img img {
  height: 100%;
  width: 100%;
}
.container__form .container__form-input {
  flex: 2;
  display: flex;
}
.container__form .container__form-input textarea {
  width: 100%;
  min-height: 5rem;
  border: 1px solid var(--Very-light-gray);
  color: var(--Grayish-Blue);
  padding: 1rem;
  overflow: hidden;
  resize: none;
}
.container__form .container__form-input textarea:focus {
  outline: none;
  border: 1px solid var(--Grayish-Blue);
}
.container__form .container__form-input textarea:hover {
  cursor: pointer;
  border: 1px solid var(--Grayish-Blue);
}
.container__form .container__form-input textarea:hover body {
  background: red;
}

@media screen and (max-width: 600px) {
  body .container {
    gap: 0.9rem;
  }
  body .container .container__content {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 1rem;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0;
    background: var(--White);
  }
  body .container .container__content .container__content-left {
    background: var(--Very-light-gray);
    padding: 0.3rem 0.9rem;
    color: var(--Dark-blue);
    display: flex;
    gap: 1rem;
    align-self: flex-start;
    margin: 0 0 1rem 1rem;
  }
  body .container .container__content .container__content-left .container__content-left_plus,
body .container .container__content .container__content-left .container__content-left_minus {
    padding: 3px 0;
    display: flex;
  }
  body .container .container__content .container__content-left .container__content-left_plus:hover,
body .container .container__content .container__content-left .container__content-left_minus:hover {
    cursor: pointer;
  }
  body .container .container__content .container__content-left .container__content-left_score {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .container .container__content .container__content-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
  }
  body .container .container__content .container__content-right .container__content-right_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body .container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile {
    display: flex;
    place-items: center;
    gap: 0.9rem;
  }
  body .container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile .container__content-right_top-profile_img {
    display: flex;
    place-items: center;
    width: 2.3rem;
  }
  body .container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile .container__content-right_top-profile_img img {
    width: 100%;
    height: 100%;
  }
  body .container .container__content .container__content-right .container__content-right_top .container__content-right_top-profile .container__content-right_top-profile_username {
    font-weight: bold;
  }
  body .container .container__content .container__content-right .container__content-right_top .container__content-right_top-reply {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  body .container .container__content .container__content-right .container__content-right_bottom {
    display: flex;
  }
  body .container .container__content .container__content-right .container__content-right_bottom p {
    flex: 10;
  }
  body .container .comment {
    margin-left: 0.5rem;
    padding-left: 1rem;
    border-left: 1px solid var(--Light-grayish-blue);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "input input" "img send";
    gap: 2rem;
    padding-bottom: 0.1rem;
  }
  .container__form .container__form-img {
    display: flex;
    place-items: center;
    width: 2.6rem;
    height: 2.6rem;
    grid-area: img;
  }
  .container__form .container__form-img img {
    height: 100%;
    width: 100%;
  }
  .container__form .container__form-input {
    grid-column: span 2;
    grid-area: input;
  }
  .container__form .container__form-input input {
    width: 100%;
    min-height: 5rem;
    border: 1px solid var(--Very-light-gray);
    color: var(--Grayish-Blue);
    padding: 0 1rem;
  }
  .container__form .container__form-input input:focus {
    outline: none;
    border: 1px solid var(--Grayish-Blue);
  }
  .container__form .container__form-input input:hover {
    cursor: pointer;
    border: 1px solid var(--Grayish-Blue);
  }
  .container__form .container__form-input input:hover body {
    background: red;
  }
  .container__form .container__form-input input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
  }
  .container__form .container__reply-button {
    grid-area: send;
    display: flex;
    justify-content: flex-end;
  }
  .container__form .container__reply-button input {
    height: 2.7rem;
  }
}/*# sourceMappingURL=style.css.map */